{% extends "layout.html" %}

{% block content %}
  <video autoplay muted loop class="video-background">
    <source src="{{ url_for('static', filename='video/falling_watermelons.mp4') }}" type="video/mp4">
    Your browser does not support the video tag; video of falling watermelon slices.
  </video>


  <div class="text-center">
    <h2 class="home-welcome">Welcome!</h2>
    <p class="home-subtitle">Ready to learn how to snag the best watermelon at the store?</p>

    <div class="mt-5">
      <a href="{{ url_for('learn') }}" class="home-start-btn">
        START
      </a>
      <p class="home-start-subtitle">Learn the traits of a good watermelon!</p>
    </div>
  </div>
{% endblock %}