{% extends "layout.html" %}

{% block content %}
  <div class="text-center">
    <h2 class="learn-title">LEARN YOUR WATERMELONS</h2>
    <p class="learn-subtitle">
      To pick out the best watermelon, you’ll need to look at the following traits:
    </p>
    <div class="row justify-content-center mb-3">
      {% for l in lessons[:3] %}
        <div class="col-4 col-md-2 mb-3">
          <a href="{{ url_for('lesson', lesson_id=l.lesson_id|int) }}"
             class="btn w-100 p-4
               {% if l.lesson_id|int in visited_lessons %}
                 btn-visited
               {% else %}
                 btn-light border
               {% endif %}">
            {{ l.title|upper }}
          </a>
        </div>
      {% endfor %}
    </div>
    <div class="row justify-content-center mb-3">
      {% for l in lessons[3:6] %}
        <div class="col-4 col-md-2 mb-3">
          <a href="{{ url_for('lesson', lesson_id=l.lesson_id|int) }}"
             class="btn w-100 p-4
               {% if l.lesson_id|int in visited_lessons %}
                 btn-visited
               {% else %}
                 btn-light border
               {% endif %}">
            {{ l.title|upper }}
          </a>
        </div>
      {% endfor %}
    </div>

    {% if visited_lessons|length == lessons|length %}
      <a href="{{ url_for('challenge', scenario=1) }}"
         class="lesson-btn">
        Confident? Start the challenge!
      </a>
    {% else %}
      <button class="lesson-btn disabled" disabled>
        Confident? Start the challenge!
      </button>
    {% endif %}
  </div>
{% endblock %}