{% extends "layout.html" %}

{% block content %}
  <div class="text-center">
    <h2 class="lesson-title">{{ lesson.title|upper }}</h2>
    <p class="lesson-subtitle">{{ lesson.description }}</p>

    <div class="row justify-content-center mb-4">
      <!-- Good watermelon column -->
      <div class="col-12 col-md-4 text-center">
        <img
          src="{{ url_for('static', filename=lesson.good_image) }}"
          alt="{{ lesson.good_alt }}"
          class="img-fluid trait-img mb-2"
          id="good-img"
        >
        <p class="lesson-subtitle">{{ lesson.good_text }}</p>
      </div>

      <!-- Bad watermelon column -->
      <div class="col-12 col-md-4 text-center">
        <img
          src="{{ url_for('static', filename=lesson.bad_image) }}"
          alt="{{ lesson.bad_alt }}"
          class="img-fluid trait-img mb-2"
          id="bad-img"
        >
        <p class="lesson-subtitle">{{ lesson.bad_text }}</p>
      </div>
    </div>

    <a href="{{ url_for('learn') }}" class="lesson-btn">
      Got it!
    </a>

    {# hidden audio elements #}
    <audio id="good-audio" src="{{ url_for('static', filename=lesson.good_sound) }}"></audio>
    <audio id="bad-audio"  src="{{ url_for('static', filename=lesson.bad_sound) }}"></audio>
  </div>

  {# include your new lesson.js #}
  <script src="{{ url_for('static', filename='js/lesson.js') }}"></script>

{% endblock %}